<nav class="navbar navbar-expand-lg navbar-dark  nav ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarSupportedContent">
      <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav  pb-1 pt-3 mt-1  ">
          <li *ngIf="isLogin" class="px-1 nav-item"><a class="text-white text-capitalize nav-link " routerLink="home"
              routerLinkActive="active-link">Home
            </a> </li>
          <li *ngIf="isLogin" class="px-1 nav-item"><a class="text-white text-capitalize nav-link " routerLink="about"
              routerLinkActive="active-link">About </a> </li>
          <li *ngIf="isLogin" class="px-1 nav-item"> <a class="text-white text-capitalize nav-link " routerLink="movies"
              routerLinkActive="active-link">Movies</a>
          </li>
          <li *ngIf="isLogin" class="px-1 nav-item"> <a class="text-white text-capitalize nav-link "
              routerLinkActive="active-link" routerLink="tvShows">TvShows</a>
          </li>
          <li *ngIf="isLogin" class="px-1 nav-item"> <a class="text-white text-capitalize nav-link "
              routerLinkActive="active-link" routerLink="people">People</a>
          </li>
          <li *ngIf="isLogin" class="px-1 nav-item"><a class="text-white text-capitalize nav-link "
              routerLinkActive="active-link" routerLink="contacts" routerLinkActive="active-link">Contacts</a> </li>


        </ul>

        <a routerLink="home"><img class="img-fluid  pt-2  " src="../../assets/IMG_0376-removebg-preview.png" alt=""></a>

        <ul class="list-unstyled d-flex pb-1 pt-4 mt-1 ">

          <li class="px-2"><a class="aws"><i class="fab fa-instagram"></i></a> </li>
          <li class="px-2"><a class="aws"><i class="fab fa-facebook "></i></a> </li>
          <li class="px-2"><a class="aws"><i class="fab fa-youtube "></i></a> </li>
          <li class="px-2 me-4"><a class="aws"><i class="fab fa-twitter "></i></a> </li>
          <li *ngIf="isLogin" class="px-2"><a routerLink="settings">Settings </a> </li>

          <li *ngIf="!isLogin" class="px-2"><a routerLink="login">Login </a> </li>
          <li *ngIf="!isLogin" class="px-2"><a routerLink="register">Register </a> </li>
          <li (click)='logOut()' *ngIf="isLogin" class="px-2"><a routerLink="logout">Logout</a> </li>



        </ul>

      </div>
    </div>
  </div>
</nav>
















<!-- <nav class=" collapse navbar-collapse nav px-2 d-flex justify-content-between align-items-center">

  <ul class="list-unstyled d-flex pb-3 pt-4 mt-1 ">
    <li *ngIf="isLogin" class="px-2"><a class="text-white text-capitalize " routerLink="home"
        routerLinkActive="active-link">Home
      </a> </li>
    <li *ngIf="isLogin" class="px-2"><a class="text-white text-capitalize " routerLink="about"
        routerLinkActive="active-link">About </a> </li>
    <li *ngIf="isLogin" class="px-2"> <a class="text-white text-capitalize " routerLink="movies"
        routerLinkActive="active-link">Movies</a>
    </li>
    <li *ngIf="isLogin" class="px-2"> <a class="text-white text-capitalize " routerLinkActive="active-link"
        routerLink="tvShows">TvShows</a>
    </li>
    <li *ngIf="isLogin" class="px-2"> <a class="text-white text-capitalize " routerLinkActive="active-link"
        routerLink="people">People</a>
    </li>
    <li *ngIf="isLogin" class="px-2"><a class="text-white text-capitalize " routerLinkActive="active-link"
        routerLink="contacts" routerLinkActive="active-link">Contacts</a> </li>


  </ul>

  <a routerLink="home"><img class="img-fluid mx-auto py-1 " src="../../assets/IMG_0376-removebg-preview.png" alt=""></a>

  <ul class="list-unstyled d-flex pb-3 pt-4 mt-1 ">

    <li class="px-2"><a class="aws"><i class="fab fa-instagram"></i></a> </li>
    <li class="px-2"><a class="aws"><i class="fab fa-facebook "></i></a> </li>
    <li class="px-2"><a class="aws"><i class="fab fa-youtube "></i></a> </li>
    <li class="px-2 me-4"><a class="aws"><i class="fab fa-twitter "></i></a> </li>
    <li *ngIf="isLogin" class="px-2"><a routerLink="settings">Settings </a> </li>

    <li *ngIf="!isLogin" class="px-2"><a routerLink="login">Login </a> </li>
    <li *ngIf="!isLogin" class="px-2"><a routerLink="register">Register </a> </li>
    <li (click)='logOut()' *ngIf="isLogin" class="px-2"><a routerLink="logout">Logout</a> </li>



  </ul>
</nav>
 -->
